<section class="page__section">

  <h2 class="page__headline">Let's Connect</h2>

  <div class="social">

    <a
      href="https://www.linkedin.com/in/clifford-nelson-bba47459"
      class="social__link"
      target="_blank"
      mat-button
      color="secondary">
      <span class="social__icon icon-linkedin"></span>
      LinkedIn
    </a>

    <a
      href="https://github.com/commander-clifford"
      class="social__link"
      target="_blank"
      mat-button
      color="secondary">
      <span class="social__icon icon-github"></span>
      gitHub
    </a>

    <a
      href="http://codepen.io/commander-clifford"
      class="social__link"
      target="_blank"
      mat-button
      color="secondary">
      <span class="social__icon icon-codepen"></span>
      codePen
    </a>

    <a
      href="mailto:cliffordryannelson@gmail.com"
      class="social__link"
      target="_blank"
      mat-button
      color="secondary">
      <span class="social__icon icon-mail"></span>
      eMail
    </a>

    <a
      href="https://www.instagram.com/highestcliff"
      class="social__link"
      target="_blank"
      mat-button
      color="secondary">
      <span class="social__icon icon-instagram"></span>
      Instagram
    </a>

    <!-- <a
      href="./assets/clifford_nelson_resume.pdf"
      class="social__link"
      target="_blank"
      mat-button
      color="secondary">
      <span class="social__icon icon-resume"></span>
      Resume

    </a> -->

  </div>

  <br>
  <br>
  <p class="text--fineprint">Icons and a cool animated interaction coming soon :)</p>

</section>
