<article class="about page">

  <section class="page__section page__section--style1">

    <div class="intro">
      <div class="intro__text">

        <h2 class="page__headline">All about all the heros</h2>

        <p>all about em</p>

      </div>
    </div>

  </section>

  <section class="action">
    <button
      class="action__link"
      mat-stroked-button

      routerLink="/projects"
      routerLinkActive="app__link--active">
      Heros <mat-icon>navigate_next</mat-icon>
    </button>
  </section>







</article>








<!--

I've been working with digital media for over 10 years, and I love learning new things everyday.





<p>I’m experienced with HTML5, CSS3, JavaScript, PHP, AngularJS, React, Handlebars and other JS frameworks.</p>

<p>Specialities: Design strategy, user interface, interaction design, research, direct marketing, wireframing, prototyping, responsive web design, test driven development, animation, motion, typography, HTML/CSS/JS, AngularJS, Google Material</p>









-->
