<article class="about page">

  <section class="page__section page__section--style1">

    <div class="intro">
      <div class="intro__text">

        <h2 class="page__headline">Hi! I'm Clifford</h2>

        <p>I am a creative technologist, interaction designer and a bit of a dreamer.</p>

        <hr>

        <p>I’ve been working with digital media for over 10 years and have a passion for user centered design & innovation. My enthusiasm for design is the interaction between the user and the solution. A background in design and engineering have me think with an artistic and scientific mindset, bringing a unique perspective to the table.</p>

        <p>I've studied engineering, psychology and design. In 2014 I graduated with a Bachelors Degree in Web Design with a 4.0 GPA as Valedictorian. Today, my favorite exercise is collaborating with team members to design and build game changing experiences from the ground up.</p>

        <hr>

        <p>This makes me fit for a somewhat niche position as a ‘Creative Technologist’. My ideal role is one where I’m exploring the boundaries of how humans and computers interact.</p>

        <p>I can contribute to cross functional teams, work independently on multiple projects and incorporate feedback from team members across an organization. My specialty is bringing ideas and innovations to life, technically and as quickly as possible. By rapidly prototyping delightful and engaging experiences, utilizing cutting edge technologies for high-fidelity results. </p>

      </div>

      <p class="intro__signature">
        * Clifford Ryan Nelson *
      </p>

    </div>

  </section>

  <section id="instafeed-1" class="instafeed"></section>

  <section class="page__section page__section--style1">

    <h2 class="page__headline">My Past</h2>

    <p>I started my career with a tour in the Navy where I studied electronics engineering. During my enlistment I learned a lot about electronics, complex systems, and camaraderie. I later received an honorable discharge from the Navy. I joined a Department of Defense Contractor shortly after. There I worked on the Navy's shipboard CCTV systems as the lead engineer for the prototyping and build of the next generation broadcast studio system for larger Navy vessels.</p>

    <p>This was a great career, but I knew I wanted more.</p>

    <p>So I decided to go back to school. After a few years as a full time student, while still working, I earned a degree in Media Design as the Valedictorian of my class.</p>

  </section>

  <section class="page__section page__section--style2">

    <h2 class="page__headline">Right Now</h2>

    <p>I'm contracting with some of the best companies in the world. I really appreciate the opportunity to see the industry from many different perspectives. I have done a lot of contract work, but I am ultimately looking for a long term platform to focus my efforts on.</p>

  </section>

  <section id="instafeed-2" class="instafeed"></section>

  <section class="page__section page__section--style1">

    <h2 class="page__headline">Let's Connect</h2>

    <div class="social">

      <a
        href="https://www.linkedin.com/in/clifford-nelson-bba47459"
        class="social__link"
        target="_blank"
        mat-button
        color="secondary">
        <span class="icon-linkedin"></span>
        LinkedIn
      </a>

      <a
        href="https://github.com/commander-clifford"
        class="social__link"
        target="_blank"
        mat-button
        color="secondary">
        <span class="icon-github"></span>
        gitHub
      </a>

      <a
        href="http://codepen.io/commander-clifford"
        class="social__link"
        target="_blank"
        mat-button
        color="secondary">
        <span class="icon-codepen"></span>
        codePen
      </a>

      <a
        href="mailto:cliffordryannelson@gmail.com"
        class="social__link"
        target="_blank"
        mat-button
        color="secondary">
        <span class="icon-mail"></span>
        eMail
      </a>

      <a
        href="https://www.instagram.com/highestcliff"
        class="social__link"
        target="_blank"
        mat-button
        color="secondary">
        <span class="icon-instagram"></span>
        Instagram
      </a>

      <a
        href="./assets/clifford_nelson_resume.pdf"
        class="social__link"
        target="_blank"
        mat-button
        color="secondary">
        <span class="icon-resume"></span>
        Resume

      </a>

    </div>

    <br>
    <br>
    <br>
    <p class="text--fineprint">Icons and a cool animated interaction coming soon :)</p>

  </section>

  <section class="action">
    <button
      class="action__link"
      mat-stroked-button

      routerLink="/projects"
      routerLinkActive="app__link--active">
      Next: Portfolio<mat-icon>navigate_next</mat-icon>
    </button>
  </section>

  <!--  -->

</article>






<!--

I've been working with digital media for over 10 years, and I love learning new things everyday.





<p>I’m experienced with HTML5, CSS3, JavaScript, PHP, AngularJS, React, Handlebars and other JS frameworks.</p>

<p>Specialities: Design strategy, user interface, interaction design, research, direct marketing, wireframing, prototyping, responsive web design, test driven development, animation, motion, typography, HTML/CSS/JS, AngularJS, Google Material</p>









-->
<!--

<p>I’m experienced with HTML5, CSS3, JavaScript, PHP, AngularJS, React, Handlebars and other JS frameworks.</p>

<p>Specialities: Design strategy, user interface, interaction design, research, direct marketing, wireframing, prototyping, responsive web design, test driven development, animation, motion, typography, HTML/CSS/JS, AngularJS, Google Material</p>









-->
