<article id="about" class="about page">

  <section class="page__section">
    <div class="page__wrapper">

    </div>
    <div class="intro">
      <div class="intro__text">

        <h2 class="page__headline">Hi! I'm Clifford</h2>

        <p>I am a creative technologist, experience designer and a visionary.</p>

      </div>
    </div>
  </section>

  <app-instagram-feed sort="most-liked"></app-instagram-feed>

  <section class="page__section">
    <div class="page__wrapper">
      <div class="flex">
        <div class="left">

          <p>I’ve been working with digital media for over 10 years and have a passion for user centered design & innovation. My enthusiasm for design is the interaction and the connection made between the user and the solution. A background in design and engineering have me think with an artistic and scientific mindset, bringing a unique perspective&nbsp;to&nbsp;the table.</p>

          <p>I've studied engineering, psychology and design. In 2014 I graduated with a Bachelors Degree in Web Design with a 4.0 GPA as Valedictorian. Today, my favorite exercise is collaborating with team members to design and build game changing experiences from the&nbsp;ground&nbsp;up.</p>

          <hr>

          <p>This makes me fit for a somewhat niche position as a ‘Creative Technologist’. My ideal role is one where I’m exploring the boundaries of how humans and&nbsp;computers&nbsp;connect.</p>

          <p>I can contribute to cross functional teams, work independently on multiple projects and incorporate feedback from team members across an organization. My specialty is bringing ideas and innovations to life, technically and as quickly as possible. By rapidly prototyping delightful and engaging experiences, utilizing cutting edge technologies for high&#8209;fidelity&nbsp;results. </p>

          <hr>

          <p class="intro__signature">
            * Clifford Ryan Nelson *
          </p>


        </div>
        <div class="right">

          <div
            id="resume"
            class="resume"
            (click)="router.navigate(['/resume/'])"
            matTooltip="Open Resume Page"
            >

            <h1 class="resume_headline">Clifford Ryan Nelson</h1>

            <!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_- -->

            <h2 class="resume_sub-headline">Education</h2>

            <p class="resume_title"><span class="title">Platt College San Diego</span><br> Bachelors&nbsp;of&nbsp;Science&nbsp;in&nbsp;Media&nbsp;Arts - 2014</p>
            <ul class="un-list">
              <li><span class="list-title">GPA:</span> 4.0, Class Valedictorian</li>
              <li><span class="list-title">Relevant Coursework:</span> Fundamentals of Web Design, Web Campaign Implementation, Design for Usability, Responsive Web Design, Programming for Designers, Scripting for the Web, Content Management Systems</li>
            </ul>

            <!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_- -->

            <h2 class="resume_sub-headline">Technical</h2>

            <ul class="un-list">
              <li><span class="list-title">Design Canvas:</span> Angular + Material + (GSAP, threeJS, box2D)</li>
              <li><span class="list-title">Languages &amp; Frameworks:</span> HTML, CSS (LESS/SASS), JavaScript, jQuery, React, Angular, JSON, PHP, MySQL</li>
              <li><span class="list-title">Keywords:</span>Web Design, Web Development, Responsive Wed Design, HTML5, CSS3 (+preprocessors), JavaScript, JSON, TypeScript, ES6, jQuery, NPM, GSAP, Box2D, Planck, three.js, canvas, Angular, Material, Bootstrap, Grunt/Gulp, PHP, Git, UI/UX Prototyping, Adobe Creative Suite, CLI</li>

            </ul>

            <!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_- -->

            <h2 class="resume_sub-headline">Recent Positions</h2>

            <ul class="un-list experience-list">


              <li>
                <span class="list-title">Creative Technologist / Prototyper @ Google [Synergis]</span><span class="text-right"></span>
                <p>Contribute to the 10 year vision of Google’s personality and brand. Generate prototypes to rapidly iterate
                through ideas in low to high-fidelity. Game design prototyping. Homepage prototyping for Doodles.</p>
                <!-- <ul>
                  <li>Contribute to Doodle team</li>
                  <li>Create prototypes to quickly exploring ideas</li>
                  <li>Motion Design, Game Design, UX Design</li>
                  <li>Environments are ad-hoc, typically newest Angular + Material</li>
                </ul> -->
              </li>

              <li>
                <span class="list-title">Design Engineer, 2017–2018 @ Uber [TekSystems]</span><span class="text-right"></span>
                <p>Collaborate closely with Design team to deliver engaging experiences using the latest in front-end
                technologies like React. Responsible for customer facing efforts such as the blog, about and FAQ pages. Design
                and build internal tools to make tedious and/or difficult tasks easy and efficient for non-technical content
                providers.</p>
                <!-- <ul>
                  <li>Environment: HTML/SCSS/JS/React</li>
                  <li>Build internal tools to aid marketing efforts</li>
                  <li>Integrate with Contentful CMS</li>
                </ul> -->
              </li>

            </ul>

          </div>
          <div class="">
            <a
              href="./assets/clifford_nelson_resume.pdf"
              class="social__link"
              target="_blank"
              mat-button
              color="secondary">
              <span class="social__icon icon-resume"></span>
              Download the full resume.pdf

            </a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="page__section">
    <div class="page__wrapper">
      <div class="intro">
        <h2 class="page__headline">My Past</h2>

        <p>I started my career with a tour in the Navy where I studied electronics engineering. During my enlistment I learned a lot about electronics, complex systems, and camaraderie. I later received an honorable discharge from the Navy. I joined a Department of Defense Contractor shortly after. There I worked on the Navy's shipboard CCTV systems as the lead engineer for the prototyping and build of the next generation broadcast studio system for larger Navy vessels.</p>

        <p>This was a great career, but I knew I wanted more. So I decided to go back to school. After a few years as a full time student, while still working, I earned a degree in Media Design as the Valedictorian of my class.</p>

      </div>
    </div>
  </section>

  <app-instagram-feed sort="most-recent"></app-instagram-feed>

  <section class="page__section">
    <div class="page__wrapper">
      <h2 class="page__headline">Right Now</h2>

      <div class="flex">

        <div class="left">
          <p>I've been contracting with some of the best companies in the world. I really appreciate the opportunity I have had to see the industry from many different perspectives. I have done a lot of contract work, but I will ultimately be in search of a long term platform to focus my efforts on. One where I can contribute while also mentoring junior technologists.</p>
          <hr>
          <p>Part designer, part developer, all of the above. From production development to designing with code, I can do it all.</p>
        </div>

        <div class="right">
          <!-- <p>Professional points:</p> -->
          <p>
            <mat-accordion>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>HTML5/CSS3/JS</mat-panel-title>
                <mat-panel-description>Web Languages</mat-panel-description>
              </mat-expansion-panel-header>
              <p style="text-align:left:">
                I consider myself highly skilled with HTML5/CSS3/JS.
                <br>
                <br>
                HTML5 for new elements meant for SEO indexing and accessibility. I consider myself at an expert level of crafting with CSS3, especially within pre-processors like SCSS or LESS. In a production environment I like to use a BEM like system while taking full advantage of the cascade for consistency, but I really like exercises where scalability can be ignored in the name of pushing the limits and experimentation. When it comes to Javascript - Vanilla and jQuery are where I started. Currently my preferred environment is Angular but I have a couple years experience each with Handlebars, React and Angular.
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Responsive Screen Design</mat-panel-title>
                <mat-panel-description>UI/UX Design</mat-panel-description>
              </mat-expansion-panel-header>
              <p style="text-align:left:">
                Expert level of understanding of Responsive Web Design and designing solutions for multiple screen sizes. Information and data aren't shared only on large desktop screens anymore. Solutions need to meet the user where it counts.
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Animation and Motion Design</mat-panel-title>
                <mat-panel-description>Design and Develop</mat-panel-description>
              </mat-expansion-panel-header>
              <p style="text-align:left:">
                From lightweight CSS3 loaders to interactive animations. Checkout my codepen.io for examples of things like: SVG Morphing, CSS loaders, GSAP interactions and games.
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Prototyping</mat-panel-title>
                <mat-panel-description>Rapid iterations and production ready</mat-panel-description>
              </mat-expansion-panel-header>
              <p style="text-align:left:">
                Prototyping is probably my favorite exercise. From mocking up design intention to delivering visual code.
              </p>
            </mat-expansion-panel>

            </mat-accordion>
          </p>
        </div>

      </div>
    </div>
  </section>

  <section class="page__section">
    <div class="page__wrapper">
      <h2 class="page__headline">Portfolio</h2>

      <app-whirligig
        [projects_cda]="projects_cda">
      </app-whirligig>

      <div *ngIf="false"  class="contain">

        <div class="row">
          <div class="row__inner">

            <div class="tile" style="width: 60px;"></div>

            <div
              *ngFor="let project of projects | orderBy: 'id':true"
              class="tile"
              (click)="this.router.navigate(['/projects/'+project.id])"
            >
              <div class="tile__media">
                <img class="tile__img" [src]="project.thumbnail.url" />
              </div>
              <div class="tile__details">
                <div
                  class="tile__title"
                  [innerHtml]="project.name"
                  >
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
    </div>
  </section>

  <app-footer></app-footer>

</article>

<!--

I've been working with digital media for over 10 years, and I love learning new things everyday.

<p>I’m experienced with HTML5, CSS3, JavaScript, PHP, AngularJS, React, Handlebars and other JS frameworks.</p>

<p>Specialities: Design strategy, user interface, interaction design, research, direct marketing, wireframing, prototyping, responsive web design, test driven development, animation, motion, typography, HTML/CSS/JS, AngularJS, Google Material</p>

<p>I’m experienced with HTML5, CSS3, JavaScript, PHP, AngularJS, React, Handlebars and other JS frameworks.</p>

<p>Specialities: Design strategy, user interface, interaction design, research, direct marketing, wireframing, prototyping, responsive web design, test driven development, animation, motion, typography, HTML/CSS/JS, AngularJS, Google Material</p>

Minimum qualifications:

Bachelor's degree in Computer Science, HCI, Design, or equivalent practical experience.
Experience with one or more of the following: Java, JavaScript, or C/C++.
Experience with web technologies (object-oriented JavaScript, HTML, CSS), and experience with web standards, including HTML5 and CSS3.
Experience designing and implementing user interfaces (UIs).
Preferred qualifications:

Experience with JavaScript frameworks (Backbone, Angular, or Ember) and CSS pre-processing frameworks (Sass or Less).
Experience with scripting languages, such as Python, Ruby, etc.
Experience with and passion for user-interface design.
Demonstrated sense of web design and attuned to the fundamentals of user experience, including accessibility.
Ability to communicate to all levels of users (internal and external), demonstrated problem-solving skills, adaptable, proactive and willing to take ownership.
About the job
Google engineers develop the next-generation technologies that change how users connect, explore, and interact with information and one another. As a member of an extraordinarily creative, motivated and talented team, you develop new products that are used by millions of people. We need our engineers to be versatile and passionate to take on new problems as we continue to push technology forward. If you get excited about building new things and working across discipline lines, then our team might be your next career step.

Our team works to build applications that enable people to seamlessly collaborate and accomplish complex tasks together. We’re on a mission to build apps that will be a refreshing change from the usual enterprise products and tools.

As a UX Engineer, you'll work on the front end of our products and features used by people everyday. The work is challenging, fast-paced, and always changing. You have demonstrated analytical skills, an unwavering commitment to quality, a collaborative work ethic, and cutting-edge coding skills. You live and breathe the fundamentals of JavaScript (not just jQuery), CSS, and HTML, and command a portfolio of web technologies new and old - all in order to launch innovative features to a global audience.

This role may also be known as one of the following: Creative Technologist, Design Technologist, Creative Developer, UI Engineer, and UI Developer.

User experience is at the forefront of how we create intuitive, innovative, and beautiful products that people love. We strive to learn and understand our users’ needs, behaviors, and emotions to gather insights that inform product strategy and design. Our UX teams include designers, researchers, content strategists, and engineers who are passionate about quality, usability, and simplicity. We work on collaborative teams to solve complex challenges and craft experiences that highlight our products’ unique capabilities and personalities. Our work touches billions while exemplifying a key principle that is core to Google’s philosophy: “Focus on the user and all else will follow.”

Responsibilities
Work closely with UX designers, project managers and back-end engineers to implement versatile front-end solutions to web development issues.
Embrace emerging standards while promoting best practices in order to push the limits of what a browser can do.
Manage your own time, and work well both independently and as part of a team.
Launch, iterate and make a difference. Provide front-end coding expertise, and help make our products better for users.
Design and develop the front ends of user-facing products.

-->
