<article class="about page">

  <section class="page__section page__section--style1">

    <div class="intro">
      <div class="intro__text">

        <h2 class="page__headline">All the Projects</h2>

        <mat-grid-list cols="4" rowHeight="2:1">
          <mat-grid-tile
            *ngFor="let project of projects"
            [colspan]="project.tile.cols"
            [rowspan]="project.tile.rows"
            [style.background]="project.tile.color"
            routerLink="/project/{{project.id}}"
            [class.selected]="hero === selectedHero">
            <h3>{{project.name}}</h3>
            <img src="{{project.heroImgUrl}}" alt="{{project.name}}" style="max-width:50%;height:auto;">
          </mat-grid-tile>
        </mat-grid-list>

      </div>
    </div>

  </section>

</article>
