<!-- <nav class="navbar">
  <div class="navbar-section">
    <a *ngFor="let project of projects; index as i"
      class="btn btn-link"
      routerLinkActive="active"
      [routerLink]="i"
    >{{project.name}}</a>
  </div>
</nav> -->

<div [@routerTransition]="routeTrigger$ | async" class="container projects">

  <nav class="projects__nav">
    <button
      [routerLink]="prev$ | async"
      [class.disabled]="(itemChange$ | async) === 0"
      class="btn btn-secondary btn-action btn-lg"
      mat-button
      >
      back {{prevProject.name}}
    </button>
    <button
      [routerLink]="next$ | async"
      class="btn btn-secondary btn-action btn-lg"
      mat-button
      >
      next {{nextProject.name}}
    </button>
  </nav>

  <router-outlet></router-outlet>

  <!-- <nav class="projects__nav page__section page__section--style1">
    <button
      [routerLink]="prev$ | async"
      [class.disabled]="(itemChange$ | async) === 0"
      class="btn btn-secondary btn-action btn-lg"
      mat-button
      >
      back
    </button>
    <button
      [routerLink]="next$ | async"
      class="btn btn-secondary btn-action btn-lg"
      mat-button
      >
      next
    </button>
  </nav> -->

</div>


<!-- [class.disabled]="(itemChange$ | async) === items.length - 1" -->
