<!-- <nav class="navbar">
  <div class="navbar-section">
    <a *ngFor="let project of projects; index as i"
      class="btn btn-link"
      routerLinkActive="active"
      [routerLink]="i"
    >{{project.name}}</a>
  </div>
</nav> -->

<div [@routerTransition]="routeTrigger$ | async" class="container">
  <nav class="float-right">
    <a [routerLink]="prev$ | async" [class.disabled]="(itemChange$ | async) === 0"
      class="btn btn-secondary btn-action btn-lg">
      back
    </a>
    <a
      [routerLink]="next$ | async"

      class="btn btn-secondary btn-action btn-lg">
      next
    </a>
  </nav>

  <router-outlet></router-outlet>

</div>


<!-- [class.disabled]="(itemChange$ | async) === items.length - 1" -->
