@import "../../variables.scss";

// :host {}
:host {
  display: block;
}

.resume {

  &-sheet {
  max-width: 480px;

  background-color: #fafafa;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.25),
  1px 1px 0 #ccc,
  2px 2px 0 #c9c9c9,
  3px 3px 0 #bbb,
  4px 4px 0 #b9b9b9,
  5px 5px 0 #aaa,
  6px 6px 1px rgba(0,0,0,.1),
  1px 1px 3px rgba(0,0,0,.3),
  3px 3px 5px rgba(0,0,0,.2),
  5px 5px 10px rgba(0,0,0,.25),
  10px 10px 10px rgba(0,0,0,.2),
  20px 20px 20px rgba(0,0,0,.15);

  border-right: 1px dashed #cccccc;
  border-bottom: 1px dashed #cccccc;
  padding: 1.5em;

  font-size: 0.8em;
  line-height: 1.5;
  text-align: left;

  margin: 0 -2em;

  @media only screen and (min-width: 480px) {
    margin: 0 auto;
  }


  ul {
    li {

    }
  }
  p {
    margin: 0;
  }

  .experience-list {
    li {
      padding: 0.25em 0;

    }
  }

  .list-title {
    font-weight: bolder;
    text-decoration: underline;
    font-size: 1em;
    margin: 0;
  }

  &_headline {

    // text-align: right;
    font-weight: 100;
    color: darken($color-dark-red, 10);
    margin: 0;
    font-size: 2.5em;
  }
  &_sub-headline {
    margin: 0.5em 0 0.1em;
    border-bottom: 1px solid #e6e6e6;
  }
  &_title {
    font-weight: bolder;
    font-size: 1em;
    margin: 0;
  }
  &_link {
    color: #1a1a1a;
  }
  &_footer {
    padding-top: 4px;
  }
  &_footer-link {
    font-style: italic;
    font-size: 1.5em;
  }
}
}
