@import "../../variables.scss";

.portfolio {

  &__list {
    margin: 0 auto;
    max-width: 960px;
  }

  &__tile {
    cursor: pointer;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  &__img {}

}
