@import "../variables.scss";

.app {

  &__logo {
    margin: 0;
    cursor: pointer;
    outline: none !important;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Press Start 2P';
    text-shadow:
      -1px 1px 0 #ccc,
      -2px 2px 0 #c9c9c9,
      -3px 3px 0 #bbb,
      -3px 3px 5px rgba(0,0,0,.2),
      -5px 5px 10px rgba(0,0,0,.25),
      -10px 10px 10px rgba(0,0,0,.2),
      -20px 20px 20px rgba(0,0,0,.15);

      // @media only screen and (min-width: 600px) {
      //   font-size: 1.5em;
      // }
  }

  &__mtoolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__toolbar {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    .mat-toolbar {
      background-color: transparent !important;
      // background-color: rgba(0,0,0,0.4) !important;
    }
  }

  &__nav {
    color: white;
    font-family: 'VT323', monospace;
    font-size: 1em;
  }

  &__link {
    text-shadow: 1px 1px 0 grey;
    font-family: inherit;
    font-size: inherit;
    color: white;

    &--active {
      text-decoration: underline;
    }

    &--back {}

  }

  &__sidenav {
    padding: 70px 16px 0px;
    // background-color: transparent;
  }

  &__main {
    &.project,
    &.projects,
    &.portfolio,
    &.resume,
    &.about {
      padding-top: 4em;
    }
  }

}
