@import "../../../variables.scss";
@import "../../../fontawesome.scss";

.section {
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: center;

  @include md {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
  }
  &__content {
    text-align: left;
    width: 90%;

    @include md {
      width: 60%;
    }
  }
}
