@import "../../variables.scss";

.cover {
  display: block;
  text-decoration: none;
  color: white;
  top: 0;
  left: 0;
  width: 100vw;
  // height: calc(100vh - 3em);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none !important;

  &__content {
    text-align: center;
    color: white;
  }

  &__headline {
    max-width: none;
    font-family: 'Press Start 2P';
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-size: 8vw;
    text-shadow:
      -1px 1px 0 #ccc,
      -2px 2px 0 #c9c9c9,
      -3px 3px 0 #bbb,
      -4px 4px 0 #b9b9b9,
      -5px 5px 0 #aaa,
      -6px 6px 1px rgba(0,0,0,.1),
      -1px 1px 3px rgba(0,0,0,.3),
      -3px 3px 5px rgba(0,0,0,.2),
      -5px 5px 10px rgba(0,0,0,.25),
      -10px 10px 10px rgba(0,0,0,.2),
      -20px 20px 20px rgba(0,0,0,.15);
  }

  &__desc {
    font-size: 3vw;
    font-weight: 200;
    color: white;
  }

  &__link {
    position: absolute;
    top: 84vh;
    padding: 2em;
    color: inherit;
    color: white;
    font-weight: 100;
    animation: bounce 400ms;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }

  @keyframes bounce {
    from { transform: translateY(0);}
    to   { transform: translateY(20px);}
  }
}
