<div
  id="cover"
  class="cover">

  <div class="cover__content ara__bounce">
    <!-- <p class="cover__headline ara__float-in">Clifford</p> -->
    <p class="cover__headline ara__float-in">Lorems</p>
    <!-- <h1 class="cover__desc ara__fall-in">Creative Technologist & Interaction Designer</h1> -->
    <h1 class="cover__desc ara__fall-in">Lorem Ipsum & Dolor Sitamit</h1>
  </div>

  <a
    routerLink="/about"
    class="cover__link ara__fade-in">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </a>

</div>
