<article class="project page">

  <section
    *ngIf="project"
    class="page__section page__section--style1">

    <div class="display__flex">

      <div class="project__brief" style="width: 50%;">

        <h2>{{project.name | uppercase}} Details</h2>
        <div><span>id: </span>{{project.id}}</div>
        <div>
          <label>name:
            <input
              [(ngModel)]="project.name"
              placeholder="name"/>
          </label>
        </div>
        <p>{{project.details.brief}}</p>
      </div>

      <div class="" style="width: 50%;">

        hero img

      </div>

    </div>




  </section>

  <section
    *ngIf="project"
    class="page__section page__section--style2">

    <p>supporting images</p>

  </section>

  <section
    *ngIf="project"
    class="page__section page__section--style1">

    <p>{{project.details.elaborate}}</p>

  </section>

  <section class="action">

    <!-- <button
      class="action__link"
      mat-stroked-button
      routerLink="/project/{{prevProjectId}}">
      <mat-icon>chevron_left</mat-icon> Previous
    </button> -->

    <button
      class="action__link"
      mat-stroked-button
      routerLink="/project/{{nextProjectId}}">
      Next <mat-icon>chevron_right</mat-icon>
    </button>

  </section>

</article>
