// @import "../../variables.scss";
.project {

  .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__section {
      width: 50%;
    }

    &__brief {
      text-align: left;
    }
    &__img {

    }
  }

  .supporting {

    &__images {
      display: flex;
      justify-content: space-around;
      align-items: center;

      img {
        width: 15%;
      }

    }
  }

  .details {
    padding-top: 4em;
    padding-bottom: 4em; 
    p {}
  }


}
