

<!-- <div class="actions">
  <button
    class="action__link"
    *ngIf="prevProjectId < projects.length"
    mat-raised-button
    (click)="this.navigateProjects('prev')">
    <mat-icon>chevron_left</mat-icon> prev project
  </button>
  <button
    class="action__link"
    *ngIf="prevProjectId >= projects.length"
    mat-raised-button
    routerLink="/projects/">
    <mat-icon>chevron_left</mat-icon> back to projects
  </button>

  <button
    class="action__link"
    mat-raised-button
    (click)="this.navigateProjects('next')"
    *ngIf="!nextProjectId <= 0">
    next project <mat-icon>chevron_right</mat-icon>
  </button>
  <button
    class="action__link"
    mat-raised-button
    routerLink="/projects/"
    *ngIf="nextProjectId <= 0">
    back to projects
    <mat-icon>chevron_right</mat-icon>
  </button>
</div> -->


<article
  class="project page"
  >

  <section class="page__section page__section--style1 page__section--flex">

      <div class="project__brief hero__brief">
        <h2 class="brief__title" [innerHtml]="project.name | uppercase"></h2>
        <p class="brief__brief" [innerHtml]="project.brief"></p>
      </div>

      <div class="project__connect">

        <a
          *ngIf="project.url"
          class="connect__link live_demo"
          target="_blank"
          mat-stroked-button
          [href]="project.url"
          >
          <i class="material-icons">open_in_new</i>
          {{project.buttonText ? project.buttonText : 'live'}}
        </a>

        <a
          *ngIf="project.githubUrl"
          class="connect__link"
          mat-stroked-button
          [href]="project.githubUrl"
          target="_blank"
          >
          <span class="social__icon icon-github"></span>
          GitHub
        </a>

        <a
          *ngIf="project.codepenUrl"
          class="connect__link"
          mat-stroked-button
          [href]="project.codepenUrl"
          target="_blank"
          >
          <span class="social__icon icon-codepen"></span>
          CodePen
        </a>

      </div>

  </section>

  <section class="page__section page__section--hero page__section--style-trans">

    <div class="project__hero">

      <div class="">

        <img *ngIf="!project.demo"class="hero__img" src="{{project.hero.url}}" alt="{{project.hero.alt}}" [width]="project.hero.width" [height]="project.hero.height">

        <iframe *ngIf="project.demo" [src]="project.demo.url | safe: 'resourceUrl'" [width]="project.demo.width" [height]="project.demo.height"></iframe>

      </div>

    </div>

  </section>

  <section
    *ngFor="let section of project.sections; let i = index"
    class="project__section page__section page__section--flex"
    >
    <app-project-section
      [section]="section"
    >
    </app-project-section>

  </section>

  <section
    *ngFor="let section of project.sections; let i = index"
    class="project__section page__section page__section--flex"
    >
    <div class="section__title">
      <h2>{{section.title}}</h2>
    </div>
    <div class="section__content">
      <img
        *ngIf="section.img"
        [src]="section.img.url"
        [alt]="section.img.atl"
        [width]="section.img.width"
        [height]="section.img.height"
        >
      <p
        *ngIf="section.description"
        [innerHtml]="section.description">
      </p>
      <ul *ngIf="section.list">
        <li
          *ngFor="let item of section.list; let i = index"
          [innerHtml]="section.list[i]">
        </li>
      </ul>
    </div>

  </section>

  <section *ngIf="false" class="supporting page__section page__section">

    <div class="flex">

      <div *ngIf="project.imgs.supportingImgs" class="left">

        <div class="supporting__images" *ngIf="project.imgs.supportingImgs">
          <a *ngFor="let supportingImg of project.imgs.supportingImgs" href="{{supportingImg}}" target="_blank">
            <img
              src="{{supportingImg}}"
              />
          </a>
        </div>

        <!-- <div class="supporting__images" *ngIf="!project.imgs.supportingImgs">
          <img src="{{project.thumbnail.url}}" alt="">
        </div> -->

      </div>

      <div [class.right]="project.imgs.supportingImgs" style="margin: 0 auto;">

        <span class="project__elaborate" *ngFor="let elaborate of project.elaborate">
          <p [innerHtml]="elaborate"></p>
        </span>

      </div>

    </div>

  </section>

  <!-- <section
    class="details page__section page__section--style1">

    <p *ngFor="let elaborate of project.elaborate">{{elaborate}}</p>

  </section> -->

</article>
