/* You can add global styles to this file, and also import other style files */
@import "variables.scss";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Nanum Myeongjo', serif;
  background: $color-dark-red;
  background-attachment: fixed;
  background-image:
    radial-gradient(
      $color-red,
      $color-dark-red
    );
  padding: 0;


h1, h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

p {
    line-height: 1.5;
    margin: 2em 0;
}

img { max-width: 100%; height: auto; }


.page {
  overflow-x: hidden;
  margin: 2vh 2vw;
  width: 96vw;
  min-height: 90vh;

  margin: 0;
  width: 100%;
  min-height: 90vh;
  // background: rgba(255,255,255,0.1);
  &__section {
    // box-shadow: 0px 2px 8px 2px $color-dark-red;
    //
    // margin-bottom: 4rem;

    &--style1 {
      background-image:
        radial-gradient(
          $color-white,
          $color-dark-white
        );
      padding: 2em 10vw;
      text-align: center;
    }
    &--style2 {
      background-image:
        radial-gradient(
          lighten($color-dark-white, 8%),
          darken($color-dark-white,4%)
        );
      padding: 2em 10vw;
      text-align: center;
    }

    hr {
      margin: 2em;
    }
  }
  &__headline {
    font-size: 2.4em;
    margin-bottom: 1em;
  }
}


.action{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2em;

  &--top {
    padding: 0 1em;
  }

  &__link {
    border-color: transparent !important;
    color: $color-white;
    font-family: 'VT323', monospace;
    font-size: 1.2em;
  }
}


.instafeed {
  &__card {
    display: block;
    border-right: 1px solid $color-dark-white;
    img {
      display: block;
      max-width: unset;
    }
  }
}

.text {
  &--fineprint {
    font-style: italic;
    font-size: 0.8em;
  }
}


.flex {

  .left {
    margin-bottom: 4em;
  }
  .right {

  }
}

@media only screen and (min-width: 960px) {
  .flex {

    .left {

    }
    .right {

    }
  }
}
@media only screen and (min-width: 1024px) {
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .left {
      width: 50%;
    }
    .right {
      margin-bottom: 0;
      width: 40%;
    }
  }
}






@media only screen and (max-width: 399px) {
  .hidden-small { display: none;}
}

}
