@import "mixins.scss";

@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Nanum+Myeongjo|Press+Start+2P|Teko|Open+Sans|Raleway:200,300,400');

// Press+Start+2P 8bit font on cover and nav
// Nanum+Myeongjo body style serif
// Teko headline block font

// reds
$color-red: #DD0031;
$color-light-red: lighten($color-red,22%);
$color-dark-red: darken($color-red,12%); // $color-dark-red: #C3002F;

// whites
$color-white: #FFFFFF;
$color-light-white: lighten($color-white,15%);
$color-dark-white: darken($color-white,15%);

// assignments
$color-primary: $color-red;

$screen-sm-min: 480px;
$screen-md-min: 720px;
$screen-lg-min: 960px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1920px;
