@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Nanum+Myeongjo|Press+Start+2P|Special+Elite|VT323');


$color-red: #DD0031;

$color-dark-red: darken($color-red,15%);
$color-light-red: lighten($color-red,15%);




// $color-dark-red: #C3002F;





$color-white: #FFFFFF;

$color-dark-white: darken($color-white,15%);
$color-light-white: lighten($color-white,15%);
